<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>This is front login page</h1>
    <form action="login" method="post">
        <table>
            <tr>
                <td>姓名：</td>
                <td><input name="uname" type="text"/></td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td><input name="age" type="number"/></td>
            </tr>
            <tr>
                <td><button type="submit">提交</button></td>
                <td><button type="reset">重置</button></td>
            </tr>
        </table>
    </form>
</body>
</html>